<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="icon" type="image/x-icon" href="../images/logo.png">

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script>
    $(function(){
        $("#footer").load("footer.html");
    });
    </script>

    <title>About</title>
</head>
<body>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->


<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-warning">
    <div class="container">
        <a class="navbar-brand" href="../index.html">
            <h2><img src="../data/icon.png" alt="smartool" style="width: 90px;"> SMARTool exercises</h2>
        </a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info " aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="treasure_hunt.html" role="button">Treasure Hunt</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="story_time.html" role="button">Story Time</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="https://smartool.github.io/smartool-rus-eng/" target="_blank" role="button">Visit SMARTool</a>
                    </li>                
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info active" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<section class="p-5">
    <div class="container px-2">
        <div class="text-wrap overflow-hidden">
            <div class="col-md p-3 bg-light bg-opacity-50 text-opacity-100 m-3">
                <h4>About</h4>
                The SMARTool Exercises is a free web resource for English-speaking learners of Russian. It is created as an addition to the <a href="https://smartool.github.io/smartool-rus-eng/" target="_blank" style="text-decoration: none;">SMARTool project</a> (Strategic Mastery of Russian Tool), which presents the highest frequency (usually about three) forms for over three thousand Russian words. Each word form appears in a full sentence that illustrates its typical use, and both English translations and audio are available. <br><br>
                The SMARTool Exercises project is a gamification tool designed to make the SMARTool fun and effective to use in the classroom and online. We propose two designs, Treasure Hunt and Story Time. <br><br>
                Treasure Hunt challenges the user to answer questions about vocabulary scaled according to proficiency level and ranging from simple observations (like differences in use of prepositions) to deeper questions about how categories differ across languages. <br><br>
                Story Time prompts users to write their own stories based on the word forms, collocations, and grammatical constructions associated with those words in the SMARTool’s example sentences.<br><br>
                We want to challenge users to take advantage of the potential of the SMARTool. Our goal is to focus learning on high-frequency word forms that are most strategic and effective for L2 acquisition, and to do this in ways that stimulate engagement and build lifelong learning skills. 


            </div>
            <div class="col-md p-3 bg-light bg-opacity-50 text-opacity-100 m-3">
                <h4>Team</h4>
                The following persons have contributed to this project:<br><br>
                Linn Thea Kaldager Josefsen (student consultant, contributed design ideas)<br><br>
                Jan Ove Nikolai Almendingen (student consultant)<br><br>
                Daria Demidova (expanded on design ideas, invented and authored many exercises)<br><br>
                George Lonshakov (contributed website design and ideas)<br><br>
                Laura A. Janda (coordinated project)

            </div>

            <div class="col-md p-3 bg-light bg-opacity-50 text-opacity-100 m-3">
                <h4>Financing</h4>
                This project was financed by project number CPRU-2017/10027 funded by the Norwegian Directorate for Higher Education and Skills (HK-Dir).
            </div>


        </div>
        
    </div>

</section>

<div id="footer"></div>

</body>
</html>