<div class="container" id="footer">
    <footer class="footer">
        <div class="row align-items-center" style="height: 10px">
            <div class="col p-3 w-30">
                <a href="https://hkdir.no/norwegian-directorate-for-higher-education-and-skills" target="_blank"><img src="../images/hkdir_alt.png" class="img-fluid" alt="hkdir"></a>
            </div>
            <div class="col p-3 w-30">
                <a href="https://uit.no/startsida" target="_blank"><img src="../images/uit.png" class="img-fluid" alt="uit"></a>
            </div>
            <div class="col p-3 w-30">
                <a href="https://www.hse.ru/en/" target="_blank"><img src="../images/hse.jpg" class="img-fluid" alt="hse" style="width: 250px;"></a>
            </div>
            
        </div>
    </footer>
</div>
