<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="icon" type="image/x-icon" href="images/logo.png"> -->


    <title>Story Time</title>
</head>
<body>
<!-- <body style="background-color: gray;">     -->
    <script src="../js/bootstrap.bundle.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-warning">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <h2><img src="../data/icon.png" alt="smartool" style="width: 90px;"> SMARTool exercises</h2>
            </a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="treasure_hunt.html" role="button">Treasure Hunt</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info active" href="story_time.html" role="button">Story Time</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="https://smartool.github.io/smartool-rus-eng/" target="_blank" role="button">Visit SMARTool</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <div class="container">
        <div class="d-grid gap-3 d-md-flex" style="font-style: italic; font-size: smaller;">
        <ol style="margin-top: 15px;">
            <li>
                Choose your level. 
            </li>
            <li>
                Each exercise has a ‘Search by’ line which states the topic you’ll need to select in the SMARTool in order to do the exercise.<br>
                Note: you can access the SMARTool by using the ‘Visit SMARTool’ button at the top of the page. You can choose your target level and topic in the section ‘Search by topic’.
            </li>
            <span id="points">...</span>
            <button onclick="toggleText()" id="button_more" type="button" class="btn btn-outline-primary btn-sm" style="margin: 3px; font-size: smaller;">
                Show more
            </button>
            <span id="more_text" style="display: none;">
            <li>
                Write a text using words from the topic, constructions stated in the exercise, and example sentences in the SMARTool.
            </li>
            <li>
                After you have written your text, you can check out other texts on the topic by clicking the ‘Examples of texts’ button.
            </li>
            <li>
                Moreover, you can click the ‘Reading’ button and try to read and understand a more advanced text on the topic.
            </li>
            <button onclick="toggleText()" id="button_less" type="button" class="btn btn-outline-primary btn-sm" style="margin: 3px; font-size: smaller;">
                Show less
            </button>
            </span>
        </ol>
        </div>
        <div id="content">
            <script type="module" src="../js/build_exercises.js"></script>
        </div>
        </div>
    

    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.14.0/dist/js-yaml.min.js"
        integrity="sha256-8mtDTinb8+d2bC/9KhCJoCRBEylWUIV/3YEt5cSUvRk="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script>
        function toggleText() {
            
        var points = document.getElementById("points");
        var showMoreText = document.getElementById("more_text");
        var buttonText = document.getElementById("button_more");

        if (points.style.display === "none") {
            showMoreText.style.display = "none";
            points.style.display = "inline";
            buttonText.style.display = "inline";
        }
        else {
            showMoreText.style.display = "inline";
            points.style.display = "none";
            buttonText.style.display = "none";
        }
        }
    </script>
   
</body>
</html>