<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">

    <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script>
    $(function(){
        $("#footer").load("footer.html");
    });
    </script> -->

    <title>Treasure Hunt</title>
</head>
<body>
    <script src="../js/bootstrap.bundle.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-warning">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <h2><img src="../data/icon.png" alt="smartool" style="width: 90px;"> SMARTool exercises</h2>
            </a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info active" href="treasure_hunt.html" role="button">Treasure Hunt</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="story_time.html" role="button">Story Time</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="https://smartool.github.io/smartool-rus-eng/" target="_blank" role="button">Visit SMARTool</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-outline-info" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>


    

    <div id="content">
        <script type="module" src="../js/build_exercises.js"></script>
    </div>

    <!-- <div id="footer"></div> -->

    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.14.0/dist/js-yaml.min.js"
        integrity="sha256-8mtDTinb8+d2bC/9KhCJoCRBEylWUIV/3YEt5cSUvRk="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
   
</body>
</html>